{% extends "reminder/base.html" %}

{% block content %}
    <script>
    var width = parseInt(window.innerWidth * .8);
    </script>
    <body>
    <div data-role="page" id="pagehome">

        {% if user.is_authenticated %}
        <div data-role="panel" data-display="overlay" data-position="left" data-theme="b" id="menu">
            <ul data-role="listview" data-inset="true">
                <li data-icon="bars"><a href="/profile/">Profile</a></li>
                <li data-icon="plus"><a href="/profile/premade_action">Add Pre-Made Action</a></li>
                <li data-icon="plus"><a href="/profile/custom_category">Add Custom Category</a></li>
                <li data-icon="edit"><a href="/profile/settings/">Settings</a></li>
                <li data-icon="info"><a href="/aboutus/">About Us</a></li>
                <li data-icon="gear"><a href="/logout/">Logout</a></li>
            </ul>

            <div class="panelFooter">Aware Apps LLC 2016</div>
        </div>
        {% endif %}

        <div data-role="header" data-position="inline">
            <h1>Awhile Since</h1>
            {% if user.is_authenticated %}
            <a href="#menu" data-role="button" class="ui-btn-left" data-icon="user">{% if user.username %}{{ user.username }}{% else %}{{ user.email }}{% endif %}</a>
            {% else %}
            <a href="/login/" data-role="button" class="ui-btn-left" data-icon="lock">Login</a>
            {% endif %}
        </div>

        <div role="main" class="ui-content">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Awhile Since is a website to help schedule activities you actually want to do, as well as introduce you to new activities and to see what activities other people are interested in.  You may remember a fun and fulfilling activity you've done in the past and think, "It's been awhile since I've done that."  Or, you might see something new and exciting that you would like to do, but life gets in the way and you forget about it.  Now you can schedule those important activities, whether it is something you've done in the past, like taking a Segway tour, or something new you want to try, like visiting a distillery.<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You are able to schedule reminders for activities based on frequency, date, or SmartTRACKING.  SmartTRACKING predicts when you will need a reminder based on your past activities and gives you a score based on if you complete them by their due date.  You can also add pre-made activities that we've thought up.  <a href="/login/">Login</a> in the upper left corner or <a href="/register/">register</a> to join this lovely site.  And once you're logged in simply swipe right to open the menu.<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Here are some activities other people are doing:<br>
            <div class="ui-grid-b ui-responsive">
                {% for task in template.all %}
                <div class="ui-block-{% if forloop.counter0 == "0" %}a{% elif forloop.counter0|divisibleby:"3" %}a{% else %}b{% endif %} important{{ task.importance }}"><span>{{ task.name }}</span></div>
                {% endfor %}
            </div>
	    </div>



        <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <h4>-- AD GOES HERE --</h4>
        </div>
    </div>
    </body>
{% endblock content %}